# Игнорировать log-файлы в директории seating_generation
*.log

# Игнорировать файлы рассадки seating_generation
seating_generation/seating*.xlsx
*dchr.xlsx

# Игнорировать временные файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
